<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
</head>
<body>
 


 <div id="Im"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    
         _Im ={{ Im|safe }};
      _Im1 ={{ Im1|safe }};
      _Im2 ={{ Im2|safe }};

    Highcharts.chart('Im', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Birth vs Immunization'
        },
        xAxis: {
            categories: _Im2
        },
        series: [{
            name: 'Live_Births',
            data: _Im1
        }, {
            name: 'Infant_Immunization_started',
            data: _Im
        }, ]
    });
  </script>
</body>
</html>