{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Report_tb</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="{% static 'bootstrap.min1.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'styledasboard.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'dataTables.bootstrap4.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'select2.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'bootstrap-datetimepicker.min.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 
   
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
</head>

<body><body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="{% static 'images/logo.png' %}" width="55" height="55" alt=""> <span>healthFeed</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" >
							<span class="status online"></span></span>
                        <span>User</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
                </li>
            </ul>
            
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="dashboard"><i class="fas fa-lungs"></i> <span>TB</span></a>
                        </li>
						<li>
                            <a href="epi"><i class="fas fa-syringe"></i> <span>EPI</span></a>
                        </li>
                        
                        <li>
                            <a href="LHW"><i class="fas fa-female"></i> <span>LHW</span></a>
                        </li>
                        <li class="submenu">
							<a href="#"><i class="fal fa-chart-bar"></i> <span> LHW Evaluation </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li ><a href="LHW_Areawise"> Area Wise </a></li>
								<li ><a href="LHW_ReportsWise"> Reports Wise </a></li>
                                
							</ul>
						</li>
                        <li>
                            <a href="Trends"><i class="fas fa-chart-line"></i> <span>Trends</span></a>
                        </li>
                           
                        <li class="submenu">
							<a href="#"><i class="far fa-lightbulb"></i> <span> Forecasting </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="Forecasting"> Covered Area </a></li>
								<li><a href="infant_death"> Infant Death </a></li>
                                
							</ul>
						</li>                 
						
						<li class="submenu">
							<a href="#"><i class="far fa-file-alt"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li class="active"><a href="Reports_TB"> TB </a></li>
								<li><a href="Reports_EPI"> EPI </a></li>
                                <li><a href="Reports_LHW"> LHW </a></li>
							</ul>
						</li>

                        
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">TB Report</h4>
                    </div>
                </div>
                <div class="row filter-row">
                    
                                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>S#
                                        </th>
                                        <th>District

                                        </th>
                                        <th>TOTAl PATIENTS

                                        </th>
                                        <th>DIED


                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>1
                                            </strong>
                                        </td>
                                        <td>Badin

                                        </td>
                                        <td>693


                                        </td>
                                        <td>21


                                        </td>
                                        
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2
                                            </strong>
                                        </td>
                                        <td>Dadu

                                        </td>
                                        <td>572


                                        </td>
                                        
                                        <td>4


                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3
                                            </strong>
                                        </td>
                                        <td>Hyderabad


                                        </td>
                                        <td>743



                                        </td>
                                        
                                        <td>15

                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>4
                                            </strong>
                                        </td>
                                        <td>Sujawal




                                        </td>
                                        <td>374




                                        </td>
                                        
                                        <td>5

                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>5
                                            </strong>
                                        </td>
                                        <td>Jamshoro




                                        </td>
                                        <td>1255





                                        </td>
                                        
                                        <td>26


                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>6
                                            </strong>
                                        </td>
                                        <td>Tando Allahyar





                                        </td>
                                        <td>6579






                                        </td>
                                        
                                        <td>100


                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>7
                                            </strong>
                                        </td>
                                        <td>KASHMOOR






                                        </td>
                                        <td>340







                                        </td>
                                        
                                        <td>2

                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>8
                                            </strong>
                                        </td>
                                        <td>Thatta




                                        </td>
                                        <td>1171



                                        </td>
                                        
                                        <td>47


                                        </td>
                                        
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-success btn-block">Download</button>
                            <script>
                                function download_csv(csv, filename) {
                                    var csvFile;
                                    var downloadLink;

                                    // CSV FILE
                                    csvFile = new Blob([csv], {type: "text/csv"});

                                    // Download link
                                    downloadLink = document.createElement("a");

                                    // File name
                                    downloadLink.download = filename;

                                    // We have to create a link to the file
                                    downloadLink.href = window.URL.createObjectURL(csvFile);

                                    // Make sure that the link is not displayed
                                    downloadLink.style.display = "none";

                                    // Add the link to your DOM
                                    document.body.appendChild(downloadLink);

                                    // Lanzamos
                                    downloadLink.click();
                                }

                                function export_table_to_csv(html, filename) {
                                    var csv = [];
                                    var rows = document.querySelectorAll("table tr");
                                    
                                    for (var i = 0; i < rows.length; i++) {
                                        var row = [], cols = rows[i].querySelectorAll("td, th");
                                        
                                        for (var j = 0; j < cols.length; j++) 
                                            row.push(cols[j].innerText);
                                        
                                        csv.push(row.join(","));		
                                    }

                                    // Download CSV
                                    download_csv(csv.join("\n"), filename);
                                }

                                document.querySelector("button").addEventListener("click", function () {
                                    var html = document.querySelector("table").outerHTML;
                                    export_table_to_csv(html, "table.csv");
                                });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Richard Miles </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Tarah Shropshire </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Mike Litorus</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Catherine Manseau </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">B</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Buster Wigton </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">R</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Rolland Webber </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">C</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Claire Mapes </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">M</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Melita Faucher</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Jeffery Lalor</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">L</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Loren Gatlin</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">T</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">Tarah Shropshire</span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="sidebar-overlay" data-reff=""></div>
  <script src="{% static 'js/Chart.bundle.js' %}"></script>
  <script src="{% static 'js/chart.js' %}"></script>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>   
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'select2.min.js' %}"></script>
  <script src="{% static 'moment.min.js' %}"></script>
  <script src="{% static 'bootstrap-datetimepicker.min.js' %}"></script>
</body>





</html>