<html>
<head>
</head>
<body>
<h1>List of LHWs (UC: Ghotki-I)</h1>
<table style="width:50%" border="1">
    <tr>
      <th>S#</th>
  
     <th>LHW Name</th>
  <th>C. POP</th>
  <th>Reports submitted</th>
  <tr>
      <th>1</th>
  <th>Shahida</th>
  <th>80</th>
  <th>10</th>
  </tr>
  <tr>
      <th>2</th>
  
  <th>
  Mai Pari
  </th>
  
  <th>1000
  </th>
  <th>10</th>
  </tr>
  <tr>
  <th>3</th>
  <th>
  Mai Zubedah
  </th>
  
  <th>500
  </th>
  <th>10</th>
  
  </tr>
  <tr>
  <th>4</th>
  <th>
  Mai Hajani
  
  </th>
  
  <th>700
  </th>
  <th>10</th>
  </tr>
  <tr>
  <th>5</th>
  
  <th>Hafeezan</th>
  
  <th>800
  </th>
  <th>10</th>
  </tr>
  <tr>
  <th>6</th>
  <th>Maqsoodan</th>
  
  <th>500
  </th>
  <th>10</th>
  </tr>
  <tr>
  <th>7</th>
  <th>Manzooran Khatoon</th>
  
  <th>670
  </th>
  <th>10</th>
  </table>
</body>
</html>
