{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>healthFeed</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="{% static 'bootstrap.min1.css' %}" type="text/css" rel="stylesheet"/>

    
    <link href="{% static 'font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    
    
    <link href="{% static 'styledasboard.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="{% static 'images/logo.png' %}" width="55" height="55" alt=""> <span>healthFeed</span>
				</a>
            </div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        
						<span>User</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
                </li>
            </ul>
            
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">

               <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li >
                            <a href="dashboard"><i class="fas fa-lungs"></i> <span>TB</span></a>
                        </li>
						<li>
                            <a href="epi"><i class="fas fa-syringe"></i> <span>EPI</span></a>
                        </li>
                        
                        <li>
                            <a href="LHW"><i class="fas fa-female"></i> <span>LHW</span></a>
                        </li>
                        <li class="submenu">
							<a href="#"><i class="fal fa-chart-bar"></i> <span> LHW Evaluation </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li ><a href="LHW_Areawise"> Area Wise </a></li>
								<li ><a href="LHW_ReportsWise"> Reports Wise </a></li>
                                
							</ul>
						</li>
                        <li class="active">
                            <a href="Trends"><i class="fas fa-chart-line"></i> <span>Trends</span></a>
                        </li>
                        
                        <li class="submenu">
							<a href="#"><i class="far fa-lightbulb"></i> <span> Forecasting </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="Forecasting"> Covered Area </a></li>
								<li><a href="infant_death"> Infant Death </a></li>
                                
							</ul>
						</li>
                        		
						
                        
						
						<li class="submenu">
							<a href="#"><i class="far fa-file-alt"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="Reports_TB"> TB </a></li>
								<li><a href="Reports_EPI"> EPI </a></li>
                                <li><a href="Reports_LHW"> LHW </a></li>
							</ul>
						</li>

                        
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                
                <div class="row">
                    
					<div  class="col-12 col-md-12  col-lg-12 col-xl-12 ">
						<div  class="card">
							<div class="card-body">
                                <script src="https://code.highcharts.com/highcharts.js"></script>
                                <script src="https://code.highcharts.com/modules/exporting.js"></script>
                                
                                <div id="Divisions_tb" ></div>
                              
                              
                              
                              
                              <script>
                                
                                    _years ={{ years|safe }};
                                    _banbhore ={{ banbhore|safe }};
                                    _karachi ={{ karachi|safe }};
                                    _hyderabad ={{ hyderabad|safe }};
                                    _larkana ={{ larkana|safe }};
                              
                              Highcharts.drawTable = function () {
                              
                              // user options
                              var tableTop = 310,
                                  colWidth = 100,
                                  tableLeft = 20,
                                  rowHeight = 20,
                                  cellPadding = 2.5,
                                  valueDecimals = 1,
                                  valueSuffix = '';
                              
                              // internal variables
                              var chart = this,
                                  series = chart.series,
                                  renderer = chart.renderer,
                                  cellLeft = tableLeft;
                              
                              // draw category labels
                              chart.xAxis[0].categories.forEach(function (name, i) {
                                  renderer.text(
                                      name,
                                      cellLeft + cellPadding,
                                      tableTop + (i + 2) * rowHeight - cellPadding
                                  )
                                      .css({
                                          fontWeight: 'bold'
                                      })
                                      .add();
                              });
                              
                              series.forEach(function (serie, i) {
                                  cellLeft += colWidth;
                              
                                  // Apply the cell text
                                  renderer.text(
                                      serie.name,
                                      cellLeft - cellPadding + colWidth,
                                      tableTop + rowHeight - cellPadding
                                  )
                                      .attr({
                                          align: 'right'
                                      })
                                      .css({
                                          fontWeight: 'bold'
                                      })
                                      .add();
                              
                                  serie.data.forEach(function (point, row) {
                              
                                      // Apply the cell text
                                      renderer.text(
                                          Highcharts.numberFormat(point.y, valueDecimals) + valueSuffix,
                                          cellLeft + colWidth - cellPadding,
                                          tableTop + (row + 2) * rowHeight - cellPadding
                                      )
                                          .attr({
                                              align: 'right'
                                          })
                                          .add();
                              
                                      // horizontal lines
                                      if (row === 0) {
                                          Highcharts.tableLine( // top
                                              renderer,
                                              tableLeft,
                                              tableTop + cellPadding,
                                              cellLeft + colWidth,
                                              tableTop + cellPadding
                                          );
                                          Highcharts.tableLine( // bottom
                                              renderer,
                                              tableLeft,
                                              tableTop + (serie.data.length + 1) * rowHeight + cellPadding,
                                              cellLeft + colWidth,
                                              tableTop + (serie.data.length + 1) * rowHeight + cellPadding
                                          );
                                      }
                                      // horizontal line
                                      Highcharts.tableLine(
                                          renderer,
                                          tableLeft,
                                          tableTop + row * rowHeight + rowHeight + cellPadding,
                                          cellLeft + colWidth,
                                          tableTop + row * rowHeight + rowHeight + cellPadding
                                      );
                              
                                  });
                              
                                  // vertical lines
                                  if (i === 0) { // left table border
                                      Highcharts.tableLine(
                                          renderer,
                                          tableLeft,
                                          tableTop + cellPadding,
                                          tableLeft,
                                          tableTop + (serie.data.length + 1) * rowHeight + cellPadding
                                      );
                                  }
                              
                                  Highcharts.tableLine(
                                      renderer,
                                      cellLeft,
                                      tableTop + cellPadding,
                                      cellLeft,
                                      tableTop + (serie.data.length + 1) * rowHeight + cellPadding
                                  );
                              
                                  if (i === series.length - 1) { // right table border
                              
                                      Highcharts.tableLine(
                                          renderer,
                                          cellLeft + colWidth,
                                          tableTop + cellPadding,
                                          cellLeft + colWidth,
                                          tableTop + (serie.data.length + 1) * rowHeight + cellPadding
                                      );
                                  }
                              
                              });
                              
                              
                              };
                              
                              /**
                              * Draw a single line in the table
                              */
                              Highcharts.tableLine = function (renderer, x1, y1, x2, y2) {
                              renderer.path(['M', x1, y1, 'L', x2, y2])
                                  .attr({
                                      stroke: 'silver',
                                      'stroke-width': 1
                                  })
                                  .add();
                              };
                              
                              /**
                              * Create the chart
                              */
                              window.chart = Highcharts.chart('Divisions_tb', {
                              
                              chart: {
                                  events: {
                                      load: Highcharts.drawTable
                                  },
                                  borderWidth: 2,
                                  width: 1000,
                                  height: 600
                              },
                              
                              title: {
                                  text: 'Trend of past 10 years of Death due to TB '
                              },
                              
                              xAxis: {
                                  categories: _years
                              },
                              
                              yAxis: {
                                  title: {
                                      text: 'No of Deaths'
                                  }
                              },
                              
                              legend: {
                                  y: -300
                              },
                              
                              series: [{
                                  name: 'Banbhore',
                                  data: _banbhore
                              }, {
                                  name: 'Hyderabad',
                                  data: _hyderabad
                              }, {
                                  name: 'Karachi',
                                  data: _karachi
                              }, {
                                  name: 'Larkana',
                                  data: _larkana
                              }]
                              });
                              
                              
                              </script>
                                  
                                
							</div>
						</div>
					</div>
					
                </div> 
                
            </div>
            
        </div>
    </div>
  <div class="sidebar-overlay" data-reff=""></div>
       
  <script src="{% static 'js/Chart.bundle.js' %}"></script>
     
  <script src="{% static 'js/chart.js' %}"></script>
    
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  
  <script src="{% static 'js/popper.min.js' %}"></script>
    
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  
  
  <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    
  <script src="{% static 'js/app.js' %}"></script>
</body>



</html>